doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releasses/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bv12p+WXcjhzxICo0wtJAoU8YZTY5qEo%Id1GsseTk6S+L3BlXeAVIU", crossorigin="anonymous")
        title | #{siteName}
    body
        include ../partials/header

        main
            block content
        include ../partials/footer