extends layouts/main.pug

block content
    .user-profile
        .user-profile__header
            img.avatar(src=user.avatarUrl)
            h4.profile__username=user.name 

    a.form-container__link(href=`/users${routes.editProfile}`)
            button Edit_profile